<div>
    <h2 id="page-heading">
        <span jhiTranslate="jDemoApp.dependencyCondition.home.title">Dependency Conditions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dependency-condition" [routerLink]="['/dependency-condition/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jDemoApp.dependencyCondition.home.createLabel">
            Create a new Dependency Condition
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dependencyConditions?.length === 0">
        <span jhiTranslate="jDemoApp.dependencyCondition.home.notFound">No dependencyConditions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dependencyConditions && dependencyConditions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jDemoApp.dependencyCondition.dependencyType">Dependency Type</span></th>
                    <th scope="col" ><span jhiTranslate="jDemoApp.dependencyCondition.flagFiekdId">Flag Fiekd Id</span></th>
                    <th scope="col" ><span jhiTranslate="jDemoApp.dependencyCondition.assignedTime">Assigned Time</span></th>
                    <th scope="col" ><span jhiTranslate="jDemoApp.dependencyCondition.operator">Operator</span></th>
                    <th scope="col" ><span jhiTranslate="jDemoApp.dependencyCondition.root">Root</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dependencyCondition of dependencyConditions ;trackBy: trackId">
                    <td><a [routerLink]="['/dependency-condition', dependencyCondition.id, 'view']">{{ dependencyCondition.id }}</a></td>
                    <td jhiTranslate="{{ 'jDemoApp.DependencyTypeEnum.' + dependencyCondition.dependencyType }}">{{ dependencyCondition.dependencyType }}</td>
                    <td>{{ dependencyCondition.flagFiekdId }}</td>
                    <td>{{ dependencyCondition.assignedTime | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'jDemoApp.OperatorEnum.' + dependencyCondition.operator }}">{{ dependencyCondition.operator }}</td>
                    <td>
                        <div *ngIf="dependencyCondition.rootId">
                            <a [routerLink]="['/dependency-condition', dependencyCondition.rootId , 'view']" >{{ dependencyCondition.rootId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dependency-condition', dependencyCondition.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dependency-condition', dependencyCondition.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dependencyCondition)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
