<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alarmConfig">
            <h2><span jhiTranslate="jDemoApp.alarmConfig.detail.title">Alarm Config</span> {{ alarmConfig.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jDemoApp.alarmConfig.alarmMethodb">Alarm Methodb</span></dt>
                <dd>
                    <span>{{ alarmConfig.alarmMethodb }}</span>
                </dd>
                <dt><span jhiTranslate="jDemoApp.alarmConfig.accountInfo">Account Info</span></dt>
                <dd>
                    <span>{{ alarmConfig.accountInfo }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alarm-config', alarmConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
