<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-alarm-config-heading" jhiTranslate="jDemoApp.alarmConfig.home.createOrEditLabel">Create or edit a Alarm Config</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jDemoApp.alarmConfig.alarmMethodb" for="field_alarmMethodb">Alarm Methodb</label>
                    <input type="text" class="form-control" name="alarmMethodb" id="field_alarmMethodb"
                           formControlName="alarmMethodb"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jDemoApp.alarmConfig.accountInfo" for="field_accountInfo">Account Info</label>
                    <input type="text" class="form-control" name="accountInfo" id="field_accountInfo"
                           formControlName="accountInfo"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
